{% extends "layout.html" %}

{%  block title %} Listagem de endereços {%  endblock %}

{% block content %}
    <div class="container">
        <h3>Bem vindo a listagem de endereços   {{ request.user.first_name  }}</h3>
        <table class="table"> 
            <thead> 
                <tr> 
                    <th>ID</th>
                    <th>Endereço</th>
                    <th>Complemento</th>
                    <th>Cidade</th>
                    <th>Estado</th>
                    <th>Ações  </th>
                </tr>
            </thead>
            <tbody> 
                {% for address in addresses %}
                <tr>
                    <td>{{ address.id }}</td>
                    <td>{{ address.address }}</td>
                    <td>{{ address.address_complement_normalized }}</td>
                    <td>{{ address.city }}</td>
                    <td>{{ address.state }}</td>
                    <td>
                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/addresses/create/"  class="btn btn-primary" >Novo Endereço</a>
        <a href="/logout/"  class="btn btn-primary" >Logout</a>
    </div>
{% endblock  %}    